<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Guessing Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Word Guessing Game</h1>
      <h2>Guess the Word!</h2>
      <p id="message"></p>
      <div id="word-display"></div>
      <div id="wrong-letters">
        <p>Wrong Guess Letters:</p>
        <div id="wrong-letters-display"></div>
      </div>
      <p id="chances">Remaining chances: <span id="chances-count"></span></p>
      <div id="letter-buttons"></div>
      <button id="reset-button">Reset Now</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
